body{
	width: 940px;
	margin: 20px;
	font-family:Tahoma;
}
ul{
	list-style:none;
}

ul label{
	width:200px;
	float:left;
}

#formularioClientes{
	border:solid 1px;
}

#listaClientes{
	width:100%;
	border:solid 1px;
	text-align:left;
   	border-collapse:collapse; 
}

#listaClientes tbody tr{
	border:solid 1px;
	height:30px;
}

#listaClientes thead{
	background:beige;
}

.texto_requerido {
	font-size: 13px; 
} 

.asterisco {
	font: normal;
}

.texto_requerido, .asterisco { 
	color: #d45252; 
	margin: 5px 0 0 0; 
} 

.irFormulario {
	padding: 10px;
	margin-top: 20px;
	margin-left: 20px;
}

.boton {
	padding: 10px;
	margin-top: 20px;
	margin-left: 20px;
}
